name: Build Android APK (debug)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "stable"

      - name: Install dependencies
        working-directory: app/flutter_app
        run: |
          flutter pub get

      - name: Build debug APK
        working-directory: app/flutter_app
        run: |
          flutter build apk --debug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: app/flutter_app/build/app/outputs/flutter-apk/app-debug.apk
